.nav{
  background-image: url(../images/dianping/nav.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.down{
  background-image: url(../images/chanpinzhongxin/down.png);
  background-repeat: no-repeat;
  background-size: cover;
}
 .diancan{
  background-image: url(../images/chanpinzhongxin/diancan.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.miaofu{
  background-image: url(../images/chanpinzhongxin/miaofu.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.kaipiao{
  background-image: url(../images/chanpinzhongxin/kaipiao.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.paidui{
  background-image: url(../images/chanpinzhongxin/paidui.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}