.container{
 width: 1560px;
 height: 100%;
 margin: 0 auto;
}

// 1 导航 nav
.nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.14);
  .nav-left{
    float: left;
    height: 36px;
    width: 137px;
    margin-left: 170px;
    margin-top: 18px;
    img{
      height: 100%;
      width: 100%;
    }
  }
  .nav-right{
   float: right;
   height: 100%;
   width: 200px;
  //  background-color: saddlebrown;
   line-height: 65px;
   text-align: center;
   border-left: 1px solid #eeeeee;
   span{
     font-size: 16px;
     color: #666666;
   }
  }
}

// 2 主图 map 
.map{
  margin-top: 65px;
  height: 405px;
  width: 100%;
  padding-left: 170px;
  padding-top: 110px;
  box-sizing: border-box;
  .map-tool{
    height: 52px;
    width: 720px;
    margin-left: -10px;
    img{
      height: 100%;
      width: 100%;

    }
  }
  h2{
    margin-top: 25px;
    font-size: 20px;
    color: #e6e6e6;
    font-weight: normal;
  }
  p{
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #ffffff;
    span{
      font-size: 20px;
      margin-left: 10px;
    }
  }
  .map-free{
    position: relative;
    display: inline-block;
    height: 45px;
    width: 155px;
    background-color: #31bcad;
    border-radius: 3px;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    color: #ffffff;
    .map-free-i{
      display: inline-block;
      height: 7px;
      width: 7px;
      border-left: 1px solid #fff;
      border-top: 1px solid #fff;
      position: absolute;
      top: 16px;
      right: 30px;
      transform: rotate(-134deg);
    }
  }
}


// .3 下载 down
.down{
  position: relative;
   height: 150px;
   width: 100%;
   background-color: #f7f8fa;
   i{
     position: absolute;
     left: 230px;
     top: -16px;
     height: 0;
     width: 0;
     border-top: 8px solid transparent;
     border-bottom: 8px solid #f7f8fa;
     border-left:10px solid transparent;
     border-right:10px solid transparent;
    }
    ul{
      width: 1562px;
      height: 100%;
      margin: 0 auto;
      // background-color: darkcyan;
      li{
        float: left;
        margin-top: 25px;
        margin-right: 113px;
        // transition: all .2s ease-out;
        div{
          height: 100px;
          width: 277px;
          background-color: #ffffff;
          padding-left: 85px;
          box-sizing: border-box;
          overflow: hidden;
          h3{
            font-size: 18px;
            color: #111;
            font-weight: normal;
            margin-top: 20px;
          }
          p{
            margin-top: 5px;
            color: #999999;
          }
        }
      }
      .windows,
      .android{
        h3{
          margin-top: 40px;

        }
      }
      .windows div:hover{
      background-color: #3276bc;
      }
    }
}


// 4 介绍 intro 
.intro{
  height: 800px;
  width: 100%;
  // background-color: tan;
  .container{
    // background-color: salmon;
    overflow: hidden;
    h2{
      position: relative;
      font-size: 32px;
      font-weight: normal;
      margin-top: 80px;
      margin-bottom: 50px;
      padding-left: 660px;
      box-sizing: border-box;
    }
    h2:before{
      content: "";
      display: block;
      position: relative;
      top: 62px;
      left: 84px;
      width: 60px;
      height: 4px;
      background: #06c1ae;
      border-radius: 100px;
    }
    ul{
      display: flex;
      width: 100%;
      height: 175px;
      border: 1px solid #f0f0f0;
      li{
        width: 33.333%;
        height: 50%;
        // background-color: sandybrown;
        margin-top: 48px;
        text-align: center;
        h4{
          font-size: 28px;
          color: #111111;
          font-weight: normal;
          margin: 2px auto;
        }
        p{
          font-size: 20px;
          color: #333333;
        }
      }
      .intro-li{
        border-right: 1px solid #e5e5e5;
      }
    }
  }
}


//  5 经验 exp
.exp{
  height: 389px;
  width: 100%;
  // text-align: center;
  .container{
    overflow: hidden;
  }
  h2{
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    margin-top: 110px;
    color: #ffffff;
  }
  .exp-box{
    height: 190px;
    width: 100%;
    // background-color: darkgoldenrod;
    padding-top: 75px;
    box-sizing: border-box;
    .exp-box-xiao{
      float: left;
      width: 758px;
      height: 80px;
      // background-color: darkgreen;
      h3{
        font-size: 32px;
        color: rgb(6, 193, 174);
        font-weight: normal;
        text-align: center;
        margin-bottom: 5px;
        span{
          font-size: 44px;
          margin-left: 14px;
        }
      }
      p{
        font-size: 16px;
        color: #fff;
        text-align: center;
      }
    }
    .exp-fen{
      float: left;
      // display: inline-block;
      height: 73px;
      width: 1px;
      background-image: linear-gradient(rgba(16, 202, 204, 0), rgb(16, 202, 204) 40%, rgb(16, 202, 204) 66%, rgba(16, 202, 204, 0));
      transform: rotate(11deg);
      margin: 0px 20px;
    
    }
    .exp-box-shang{
      float: left;
      width: 758px;
      height: 80px;
      // background-color: darkgreen;
      h3{
        font-size: 32px;
        color: rgb(6, 193, 174);
        font-weight: normal;
        text-align: center;
        margin-bottom: 5px;
        span{
          font-size: 44px;
          margin-left: 14px;
        }
      }
      p{
        font-size: 16px;
        color: #fff;
        text-align: center;
      }
    }
  }
}


// 6 抢占 qiang 
.qiang{
  height: 643px;
  width: 100%;
  
  background-color: #f7f8fa;
  .container{
    overflow: hidden;
  }
  h2{
    font-size: 30px;
    color:  #111;
    font-weight: normal;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 50px;
    height: 68px;
  }
  h2:after {
    content: "";
    display: block;
    position: relative;
    top: 20px;
    left: calc(50% - 30px);
    width: 60px;
    height: 4px;
    background: #06c1ae;
    border-radius: 100px;
}
  ul{
    &>li{
      float: left;
      height: 384px;
      width: 491px;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 8px 12px 0 rgba(0,0,0,.08);
      img{
        height: 180px;
        width: 100%;
      }
      h3{
        margin-top: 30px;
        margin-left: 40px;
        font-size: 20px;
        color: #111;
        margin-bottom: 16px;
      }
      ol{
        list-style-type: decimal;
        font-size: 14px;
        margin-left: 56px;
    
        li{
          list-style: disc;
          margin-bottom: 10px;
          
          p:first-child{
            color: #111111;
          }
          p:last-child{
            color: #666666;
            margin-top: 5px;
          }
        }
      }
    }
    .qiang-yin,.qiang-duo{
      margin-right: 42px;
    }
  }
}


// 7 同行 tong
.tong{
  height: 350px;
  width: 100%;
  background-color: darkgreen;
}


// 8  硬件 ying
.ying{
  height: 1117px;
  width: 100%;
  background-color: #f7f8fa;
  overflow: hidden;
  .container{
    overflow: hidden;
    h2{
      text-align: center;
    font-weight: 400;
    font-size: 32px;
    color: #111;
    margin-top: 75px;
    margin-bottom: 80px;
    }
    h2:after {
      content: "";
      display: block;
      position: relative;
      top: 20px;
      left: calc(50% - 30px);
      width: 60px;
      height: 4px;
      background: #06c1ae;
      border-radius: 100px;
  }
    &>ul{
      height: 310px;
      width: 100%;
      margin-bottom: 30px;
      li{
        float: left;
        width: 300px;
        height: 100%;
        // background-color: sienna;
        text-align: center;
        div{
          position: relative;
          display: inline-block;
          margin-top: 26px;
          font-size: 24px;
          color: #111;
          padding-bottom: 10px;
         i{
          position: absolute;
          left: 0;
          /* top: 3px; */
          display: block;
          width: 100%;
          height: 4px;
          top: 35px;
          border-radius: 2px;
          background: transparent;
          // background: #06c1ae;
           
           // box-sizing: border-box;
          }
        }
       

        //  img{
        //    width: 100%;
        //    height: auto;
        //  }
      }
      .ying-li-right{
        margin-right: 330px;
      }
      .ying-win{
        img{
          width: 300px;
          height: 221px;
        }
      }
      .ying-pos{
        img{
          width: 185px;
          height: 235px;
        }
      }
      .ying-an{
        img{
          width: 300px;
          height: 224px;
        }
      }
    }
  }
}
// 硬件下面的盒子
.ying-box{
    display: none;
   height: 468px;
   width: 100%;
   background-color: #ffffff;
  //  background-color: darkkhaki;
   box-shadow: 0 8px 16px 0 hsla(0,0%,91%,.68);
   overflow: hidden;
   p{
    font-size: 24px;
    color: #111;
    margin: 55px 0;
    text-align: center;
   }
   ul{
     height: 277px;
     width: 100%;
    //  background-color: sienna;
     padding: 0 150px;
     box-sizing: border-box;
     li{
      position: relative;

       float: left;
       width: 315px;
       height: 277px;
       border: 1px solid #e6e6e6;
      
       img{
         height: 100%;
         width: 100%;
       }
       p{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 23px;
        font-size: 20px;
       }
     }
     li:nth-child(1),
     li:nth-child(2){
      margin-right: 154px;
     }
   }
}

.active{
  display: block;
}


// 9 联系 lian
.lian{
  height: 165px;
  width: 100%;
}