.head {
  height: 70px;
  width: 100%;
}

.head .head-content {
  width: 990px;
  height: 100%;
  margin: 0 auto;
}

.head .head-left {
  float: left;
  height: 48px;
  width: 162px;
  line-height: 70px;
}

.head .head-left img {
  height: 48px;
  width: auto;
}

.head .head-right {
  float: right;
  width: 592px;
  height: 100%;
}

.head .head-right ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head .head-right ul li {
  width: 33.3333%;
  text-align: center;
}

.head .head-right ul li a {
  display: inline-block;
  height: 100%;
  font-size: 16px;
  line-height: 70px;
  color: #333333;
  border-bottom: 3px solid #ffbd27;
}

.head .active {
  color: #333333;
  font-weight: 600;
}

.content {
  height: 1300px;
  background-color: #fff;
  border-bottom: 2px solid #ffd705;
}

.content .container {
  width: 1440px;
  margin: 0 auto;
}

.content .content-top {
  position: relative;
  height: 640px;
}

.content .home {
  position: absolute;
  top: 45px;
  left: 270px;
  height: 30px;
  width: 110px;
  padding-left: 30px;
  color: #333333;
  font-size: 16px;
  padding-top: 3px;
}

.content .logo {
  position: absolute;
  top: 199px;
  left: 818px;
  height: 100px;
  width: 330px;
}

.content .iphone {
  position: absolute;
  right: 440px;
  top: 334px;
  width: 185px;
  height: 45px;
  line-height: 30px;
  border: 2px solid #333;
  /* right: 210px; */
  color: #333;
  /* display: block; */
  font-size: 16px;
}

.content .iphone i {
  float: left;
  height: 28px;
  margin-left: 13px;
  width: 18px;
  margin-top: 10px;
  margin-right: 20px;
}

.content .iphone span {
  line-height: 50px;
}

.content .android {
  position: absolute;
  right: 440px;
  top: 400px;
  width: 185px;
  height: 45px;
  line-height: 30px;
  border: 2px solid #333;
  /* right: 210px; */
  color: #333;
  /* display: block; */
  font-size: 16px;
}

.content .android i {
  float: left;
  height: 28px;
  margin-left: 13px;
  width: 25px;
  margin-top: 10px;
  margin-right: 15px;
}

.content .android span {
  line-height: 50px;
}

.content .iphone:hover,
.content .android:hover {
  background-color: #333333;
  color: #ffd705;
}

.content .content-top-img {
  position: absolute;
  right: 300px;
  top: 335px;
  height: 114px;
  width: 114px;
}

.content .content-top-img img {
  height: 100%;
  width: 100%;
}

.content .content-bottom {
  height: 640px;
  width: 100%;
}

.foot {
  height: 285px;
  width: 100%;
  background-color: #333333;
  border-bottom: 1px solid #666666;
}

.foot .foot-top {
  width: 920px;
  height: 287px;
  margin: 0 auto;
  overflow: hidden;
}

.foot .left {
  float: left;
  margin-top: 70px;
  width: 280px;
  height: 173px;
}

.foot .left ul {
  float: left;
  margin-right: 60px;
}

.foot .left ul li {
  margin-bottom: 20px;
}

.foot .left ul li a {
  color: #fff;
  font-size: 14px;
}

.foot .middle {
  margin-top: 66px;
  float: left;
  margin-left: 152px;
}

.foot .middle h2 {
  font-size: 22px;
  color: #eeeeee;
  font-weight: normal;
  margin-bottom: 16px;
}

.foot .middle .middle-ke {
  margin-top: 32px;
}

.foot .middle p {
  font-size: 14px;
  color: #aaaaaa;
}

.foot .middle .middle-p {
  margin-top: 10px;
}

.foot .right {
  float: right;
  margin-top: 70px;
  height: 160px;
  width: 220px;
}

.foot .right h2 {
  font-size: 22px;
  color: #eeeeee;
  font-weight: normal;
  margin-bottom: 18px;
}

.foot .right .right-left {
  float: left;
  height: 90px;
  width: 90px;
  margin-right: 15px;
}

.foot .right .right-right {
  float: left;
  height: 90px;
  width: 90px;
}

.footer {
  height: 70px;
  width: 100%;
  background-color: #333333;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.footer .container {
  width: 580px;
  margin: 0 auto;
}

.footer i {
  float: left;
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

.footer a {
  color: #888888;
}

.footer .footer-left {
  float: left;
  line-height: 21px;
  margin-right: 15px;
}

.footer span {
  float: left;
  color: #888888;
  line-height: 21px;
  margin-right: 15px;
}

.footer .footer-right {
  float: left;
  line-height: 21px;
}
/*# sourceMappingURL=sass.css.map */