@charset "UTF-8";
/* 1 头部 head */
body {
  background-color: #f8f8f8;
}

.head {
  height: 200px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.1);
}

/* 1 头部 上 */
.head-top {
  height: 40px;
  background-color: #f8f8f8;
}

/* 1 头部 上 左 */
.head-top-left {
  line-height: 40px;
}

.head-top-left > span {
  float: left;
  color: #666666;
}

.head-top-left > div {
  float: left;
}

.head-top-left-switch {
  margin-left: 5px;
  margin-right: 5px;
}

.head-top-left-switch a {
  border: 1px solid #e5e5e5;
  color: #666666;
  padding: 1px;
}

.head-top-left-city a {
  color: #999999;
  padding: 1px;
}

.head-top-left-login a:first-child {
  margin-left: 20px;
  color: #fe8c00;
}

.head-top-left-login a:last-child {
  margin-left: 5px;
  color: #999999;
}

/* 1 头部 上 右*/
.head-top-right {
  float: right;
  line-height: 36px;
}

.head-top-right-ul > li {
  float: left;
  color: #999999;
  text-align: center;
}

/* 1 头部 上 右 我的美团 */
.head-top-right-ul > li {
  width: 80px;
}

.head-top-right-ul > li a {
  color: #999999;
}

.head-top-right-ul-li {
  position: relative;
}

.head-top-right-ul-wo:hover .head-top-right-wo {
  display: block;
}

.head-top-right-ul-wo:hover {
  background-color: #ffffff;
}

.head-top-right-wo {
  display: none;
  position: absolute;
  left: 0;
  z-index: 2;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.head-top-right-wo > li {
  width: 80px;
  background-color: #ffffff;
  text-align: center;
}

/* 1 头部 上 右 商家中心 */
.head-top-right-ul-li:hover .head-top-right-wo {
  display: block;
}

.head-top-right-shang {
  display: none;
  position: absolute;
  left: -29px;
  width: 110px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.head-top-right-ul-shang:hover .head-top-right-shang {
  display: block;
}

.head-top-right-ul-shang:hover {
  background-color: #ffffff;
}

/* 1 头部 上 右 美团规则 */
.head-top-right-ul-mei {
  position: relative;
}

.head-top-right-mei {
  display: none;
  position: absolute;
  width: 80px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.head-top-right-ul-mei:hover .head-top-right-mei {
  display: block;
}

.head-top-right-ul-mei:hover {
  background-color: #ffffff;
}

.head-top-right-ul-wang {
  position: relative;
}

.head-top-right-ul-wang li {
  float: left;
  width: 88px;
  line-height: normal;
  margin-bottom: 7px;
}

.head-top-right-ul-wang li a:hover {
  color: #fe8c00;
}

.head-top-right-wang {
  display: none;
  position: absolute;
  top: 36px;
  left: -1119px;
  z-index: 2;
  width: 1200px;
  height: 292px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.head-top-right-wang .head-top-right-wang-jiu {
  float: left;
  width: 306px;
  height: 100%;
  padding-left: 15px;
  padding-top: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.head-top-right-wang .head-top-right-wang-jiu h3 {
  color: #222222;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 14px;
}

.head-top-right-wang .head-top-right-wang-chi {
  float: left;
  width: 200px;
  height: 100%;
  padding-left: 15px;
  padding-top: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.head-top-right-wang .head-top-right-wang-chi h3 {
  color: #222222;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 14px;
}

.head-top-right-wang .head-top-right-wang-kan {
  float: left;
  width: 140px;
  height: 100%;
  padding-left: 15px;
  padding-top: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.head-top-right-wang .head-top-right-wang-kan h3 {
  color: #222222;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 14px;
}

.head-top-right-wang .head-top-right-wang-kan li {
  width: 100%;
}

.head-top-right-wang .head-top-right-wang-shou {
  float: left;
  width: 554px;
  height: 100%;
  padding-left: 15px;
  padding-top: 23px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.head-top-right-wang .head-top-right-wang-shou h3 {
  color: #222222;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 14px;
}

.head-top-right-wang .head-top-right-wang-shou li {
  width: 72px;
}

.head-top-right-wang .head-top-right-wang-shou li:first-child {
  margin-left: 72px;
}

.head-top-right-wang .head-top-right-wang-shou img {
  height: 55px;
  width: 55px;
}

/* 2 轮播部分 carousel li里面的盒子 */
.carousel-left-li {
  position: relative;
}

.carousel-left-li .carousel-left-li-jiu-h {
  position: absolute;
  top: 4px;
  left: 70px;
  height: 17px;
  font-size: 12px;
  color: #222222;
  background: #FFF3CC;
  /* display: inline-block; */
  border-radius: 10px;
  padding: 3px 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 5px;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  /* position: relative; */
  opacity: 1;
}

.carousel-left-li .carousel-left-box {
  display: none;
  position: absolute;
  top: -1px;
  z-index: 2;
  left: 229px;
  /* top: 202px; */
  /* left: 587px; */
  height: 417px;
  width: 400px;
  background-color: #ffffff;
  padding-left: 32px;
  padding-right: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.carousel-left-li .carousel-left-box .carousel-left-box-title {
  height: 55px;
  border-bottom: 1px solid #e5e5e5;
}

.carousel-left-li .carousel-left-box .carousel-left-box-title-left {
  float: left;
  /* line-height: 54px; */
  margin-top: 25px;
}

.carousel-left-li .carousel-left-box .carousel-left-box-title-left a {
  font-size: 16px;
  color: #222222;
}

.carousel-left-li .carousel-left-box .carousel-left-box-title-more {
  float: right;
  line-height: 55px;
}

.carousel-left-li .carousel-left-box .carousel-left-box-title-more a {
  color: #999999;
  font-size: 14px;
}

.carousel-left-li .carousel-left-box .carousel-left-box-body span {
  display: inline-block;
  margin-top: 10px;
  margin-right: 12px;
}

.carousel-left-li .carousel-left-box .carousel-left-box-body span a {
  color: #999999;
}

.carousel-left-li .carousel-left-box .carousel-left-box-body span a:hover {
  color: #fe8c00;
}

.carousel-left-li-wai .carousel-left-box {
  top: -27px;
}

.carousel-left-li-jiu .carousel-left-box {
  top: -53px;
}

.carousel-left-li-min .carousel-left-box {
  top: -79px;
}

.carousel-left-li-mao .carousel-left-box {
  top: -105px;
}

.carousel-left-li-ji .carousel-left-box {
  top: -131px;
}

.carousel-left-li-xiu .carousel-left-box {
  top: -157px;
}

.carousel-left-li-sheng .carousel-left-box {
  top: -183px;
}

.carousel-left-li-li .carousel-left-box {
  top: -209px;
}

.carousel-left-li-jie .carousel-left-box {
  top: -235px;
}

.carousel-left-li-qin .carousel-left-box {
  top: -261px;
}

.carousel-left-li-yun .carousel-left-box {
  top: -287px;
}

.carousel-left-li-jia .carousel-left-box {
  top: -313px;
}

.carousel-left-li-xue .carousel-left-box {
  top: -339px;
}

.carousel-left-li-yi .carousel-left-box {
  top: -365px;
}

.carousel-left-li-jiub .carousel-left-box {
  top: -391px;
}

.head-top-right-ul-wang:hover {
  background-color: #ffffff;
}

.head-top-right-ul-wang:hover {
  background-color: #fff;
}

.head-top-right-ul-wang:hover .head-top-right-wang {
  display: block;
}

/* 1 头部 中*/
.head-center {
  height: 110px;
  background-color: #fff;
  /* 1 头部 中 标 */
  /* 1 头部 中 input */
}

.head-center .head-center-img {
  float: left;
  line-height: 98px;
}

.head-center .head-center-img img {
  width: 128px;
  height: 46px;
}

.head-center .head-center-input {
  position: relative;
  float: left;
  margin-top: 26px;
  margin-left: 174px;
  width: 472px;
  height: 34px;
  border: 1px solid #e5e5e5;
  border-radius: 5px 0px 0px 5px;
}

.head-center .head-center-input .search img {
  margin-left: 21px;
  margin-top: 5px;
}

.head-center .head-center-input input {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  width: 100%;
}

.head-center .head-center-input > span {
  float: right;
  width: 76px;
  margin-top: -25px;
  margin-right: -76px;
  height: 36px;
  background-color: #ffc300;
  border-radius: 0px 5px 5px 0px;
}

.head-center .head-center-input .head-center-hot {
  display: none;
  position: absolute;
  top: 34px;
  left: 0;
  height: 74px;
  width: 470px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.head-center .head-center-input .head-center-hot span {
  display: inline-block;
  color: #9a9a9a;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 10px;
}

.head-bottom {
  height: 50px;
}

.head-bottom .head-bottom-all {
  float: left;
  width: 228px;
  height: 100%;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  background-color: #ffffff;
  height: 49px;
}

.head-bottom .head-bottom-all span {
  display: inline-block;
  line-height: 50px;
  color: #222222;
  font-weight: 600;
  margin-left: 15px;
  font-size: 16px;
}

.head-bottom .head-bottom-right {
  float: left;
}

.head-bottom .head-bottom-right li {
  float: left;
  margin-left: 50px;
  line-height: 50px;
  height: 50px;
}

.head-bottom .head-bottom-right li a {
  color: #222222;
  font-weight: 600;
  font-size: 16px;
}

/* 2 轮播部分 carousel */
.carousel {
  height: 468px;
}

.carousel .carousel-left {
  float: left;
  position: relative;
  width: 230px;
  height: 426px;
  background-color: #ffffff;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding-top: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.carousel .carousel-left li {
  position: relative;
  height: 26px;
}

.carousel .carousel-left li i {
  float: left;
  height: 16px;
  width: 16px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 5px;
}

.carousel .carousel-left li span {
  display: inline-block;
  margin-top: 5px;
}

.carousel .carousel-left li .carousel-left-li-a {
  float: left;
  font-size: 14px;
  color: #646464;
}

.carousel .carousel-left li .xia {
  position: absolute;
  top: 12px;
  right: 14px;
  height: 6px;
  width: 1px;
  background-color: #c7c7c7;
  -webkit-transform: rotate(1deg);
  transform: rotate(45deg);
}

.carousel .carousel-left li .shang {
  position: absolute;
  top: 8px;
  right: 14px;
  height: 6px;
  width: 1px;
  background-color: #c7c7c7;
  -webkit-transform: rotate(1deg);
  transform: rotate(135deg);
}

.carousel .carousel-left > li:hover {
  background-color: #fff7eb;
}

.carousel .carousel-left > li:hover .carousel-left-li-a {
  font-weight: 600;
  color: #222222;
}

.carousel .carousel-left > li:hover .carousel-left-li-jiu-h {
  background-color: #ffc500;
}

/* 2 轮播部分 carousel li里面的盒子 */
/* .carousel-left-box {
    position: absolute;
    top: 202px;
    left: 587px;
    height: 414px;
    width: 400px;
    background-color: #ffffff;
    padding-left: 32px;
    padding-right: 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  } */
/* 轮播部分 carousel 右边 */
.carousel-right {
  float: left;
  height: 416px;
  width: 950px;
}

/* 轮播部分 carousel 右边 上 */
.carousel-right-top {
  height: 242px;
  width: 952px;
  margin-left: 10px;
  margin-top: 10px;
  /* 住酒店  */
}

.carousel-right-top .carousel-right-top-hotel {
  float: left;
  position: relative;
  width: 551px;
  height: 242px;
}

.carousel-right-top .carousel-right-top-hotel .carousel-right-top-hotel-ul li {
  position: absolute;
}

.carousel-right-top .carousel-right-top-hotel img {
  width: 551px;
  height: 242px;
}

.carousel-right-top .carousel-right-top-hotel .hide {
  display: none;
}

.carousel-right-top .carousel-right-top-hotel .show {
  display: block;
}

.carousel-right-top .carousel-right-top-hotel .carousel-right-top-hotel-left {
  display: none;
  position: absolute;
  top: 104px;
  left: 8px;
  height: 38px;
  width: 38px;
  background-color: #354a49;
  border-radius: 50%;
}

.carousel-right-top .carousel-right-top-hotel .carousel-right-top-hotel-left img {
  height: 20px;
  width: auto;
  margin-left: 11px;
  margin-top: 8px;
}

.carousel-right-top .carousel-right-top-hotel .carousel-right-top-hotel-right {
  display: none;
  position: absolute;
  top: 104px;
  right: 8px;
  height: 38px;
  width: 38px;
  background-color: #48485c;
  border-radius: 50%;
}

.carousel-right-top .carousel-right-top-hotel .carousel-right-top-hotel-right img {
  height: 20px;
  width: auto;
  margin-left: 13px;
  margin-top: 10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.carousel-right-top .carousel-right-top-hotel .carousel-right-top-hotel-circle {
  position: absolute;
  bottom: 10px;
  left: 230px;
}

.carousel-right-top .carousel-right-top-hotel .carousel-right-top-hotel-circle li {
  float: left;
  width: 11px;
  height: 2px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-right-top .carousel-right-top-hotel .carousel-right-top-hotel-circle .current {
  background-color: #eaf5f4;
}

.carousel-right-top .carousel-right-top-life {
  float: left;
  width: 150px;
  height: 241px;
  margin-left: 10px;
}

.carousel-right-top .carousel-right-top-life img {
  width: 150px;
  height: 241px;
}

.carousel-right-top-login {
  margin-left: 10px;
  float: left;
  width: 231px;
  height: 241px;
  background-color: #ffffff;
}

.carousel-right-top-login .carousel-right-top-login-img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 30px;
  margin-left: 88px;
}

.carousel-right-top-login .carousel-right-top-login-img img {
  height: 55px;
  width: 55px;
}

.carousel-right-top-login h3 {
  font-size: 16px;
  font-weight: normal;
  color: #222222;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 12px;
}

.carousel-right-top-login .carousel-right-top-login-div {
  text-align: center;
  height: 40px;
  width: 118px;
  border: 1px solid #e5e5e5;
  margin-bottom: 16px;
  margin-left: 54px;
  line-height: 40px;
  border-radius: 30px;
}

.carousel-right-top-login .carousel-right-top-login-div a {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-size: 14px;
  color: #333333;
}

.carousel-right-bottom {
  width: 955px;
  height: 166px;
  margin-left: 10px;
  margin-top: 10px;
}

.carousel-right-bottom .carousel-right-bottom-hotel, .carousel-right-bottom .carousel-right-bottom-zhang {
  float: left;
  width: 271px;
  height: 166px;
  margin-right: 10px;
}

.carousel-right-bottom .carousel-right-bottom-hotel img, .carousel-right-bottom .carousel-right-bottom-zhang img {
  height: 100%;
  width: 100%;
}

.carousel-right-bottom .carousel-right-bottom-wo {
  float: left;
  width: 150px;
  height: 166px;
  background-image: url(../images/index/carousel-right-bottom-wo.jpg);
  background-repeat: cover;
  background-size: 150px 166px;
}

.carousel-right-bottom .carousel-right-bottom-wo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.carousel-right-bottom .carousel-right-bottom-er {
  float: left;
  text-align: center;
  width: 231px;
  height: 166px;
  background-color: #ffffff;
  margin-left: 10px;
}

.carousel-right-bottom .carousel-right-bottom-er img {
  height: 75px;
  width: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.carousel-right-bottom .carousel-right-bottom-er h3 {
  font-size: 16px;
  font-weight: normal;
  color: #282a2d;
  margin-bottom: 8px;
}

.carousel-right-bottom .carousel-right-bottom-er h4 {
  font-size: 14px;
  font-weight: normal;
  color: #4b4b4b;
}

.carousel-right-bottom .carousel-right-bottom-er h4 span {
  color: #ed5d3c;
}

/* 3 电影 movie */
.movie {
  height: 384px;
}

.movie .movie-title {
  height: 44px;
  width: 100%;
  background-color: #fb3f5d;
  border-radius: 8px 8px 0px 0px;
  margin-bottom: 1px;
  border-bottom: 1px solid #fff;
}

.movie .movie-title .movie-title-left {
  float: left;
}

.movie .movie-title .movie-title-left h3 {
  float: left;
  font-size: 18px;
  /* font-weight: 600; */
  font-weight: normal;
  margin-left: 18px;
  line-height: 44px;
}

.movie .movie-title .movie-title-left h3 a {
  color: #fef3ff;
}

.movie .movie-title .movie-title-left h4 {
  position: relative;
  float: left;
  font-size: 14px;
  /* font-weight: 600; */
  font-weight: normal;
  margin-left: 18px;
  line-height: 44px;
}

.movie .movie-title .movie-title-left h4 a {
  color: #fef3ff;
}

.movie .movie-title .movie-title-left h4 i {
  position: absolute;
  top: 26px;
  left: 20px;
  display: inline-block;
  height: 0px;
  width: 2px;
  border-bottom: 9px solid #ffffff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid transparent;
}

.movie .movie-title .movie-title-right {
  float: right;
  margin-right: 22px;
  line-height: 44px;
}

.movie .movie-title .movie-title-right a {
  font-size: 16px;
  color: #ffedec;
}

.movie .movie-bottom {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.movie .movie-bottom #left {
  display: none;
  position: absolute;
  top: 128px;
  left: 8px;
  height: 38px;
  width: 38px;
  background-color: #3b465c;
  border-radius: 50%;
}

.movie .movie-bottom #left img {
  height: 20px;
  width: auto;
  margin-left: 11px;
  margin-top: 8px;
}

.movie .movie-bottom #right {
  display: none;
  position: absolute;
  top: 128px;
  right: 8px;
  height: 38px;
  width: 38px;
  background-color: #3b465c;
  border-radius: 50%;
}

.movie .movie-bottom #right img {
  height: 20px;
  width: auto;
  margin-left: 13px;
  margin-top: 10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.movie .movie-bottom-ul {
  height: 300px;
  width: 2430px;
}

.movie .movie-bottom-ul li {
  position: relative;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  overflow: hidden;
}

.movie .movie-bottom-ul li .movie-bottom-ul-ming {
  position: absolute;
  bottom: 12px;
  left: 10px;
}

.movie .movie-bottom-ul li .movie-bottom-ul-ming h3 {
  font-size: 14px;
  color: #fff;
  margin-bottom: 4px;
  font-weight: normal;
}

.movie .movie-bottom-ul li .movie-bottom-ul-ming h3 span {
  display: inline-block;
  margin-right: 5px;
  font-size: 19px;
  color: #ef9827;
}

.movie .movie-bottom-ul li .movie-bottom-ul-ming h2 {
  font-size: 16px;
  color: #fff;
  font-weight: normal;
}

/* 4 民宿 homestay */
.homestay {
  height: 772px;
}

.homestay .homestay-title {
  height: 44px;
  width: 100%;
  background-color: #f3bf47;
  border-radius: 8px 8px 0px 0px;
}

.homestay .homestay-title .homestay-title-left {
  float: left;
}

.homestay .homestay-title .homestay-title-left h3 {
  float: left;
  font-size: 18px;
  /* font-weight: 600; */
  font-weight: normal;
  margin-left: 18px;
  line-height: 44px;
}

.homestay .homestay-title .homestay-title-left h3 a {
  color: #fef3ff;
}

.homestay .homestay-title .homestay-title-left h4 {
  position: relative;
  float: left;
  font-size: 14px;
  /* font-weight: 600; */
  font-weight: normal;
  margin-left: 18px;
  line-height: 44px;
}

.homestay .homestay-title .homestay-title-left h4 a {
  color: #fef3ff;
}

.homestay .homestay-title .homestay-title-left h4 i {
  display: none;
  position: absolute;
  float: left;
  top: 26px;
  left: 5px;
  height: 0px;
  width: 2px;
  border-bottom: 9px solid #ffffff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid transparent;
}

.homestay .homestay-title .homestay-title-right {
  float: right;
  margin-right: 22px;
  line-height: 44px;
}

.homestay .homestay-title .homestay-title-right a {
  font-size: 16px;
  color: #ffedec;
}

.homestay .homestay-bottom {
  position: relative;
  height: 693px;
  width: 100%;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-radius: 0px 0px 5px 5px;
}

.homestay .homestay-bottom ul {
  display: none;
  position: absolute;
  height: 690px;
  width: 100%;
}

.homestay .homestay-bottom > ul > img {
  float: left;
  margin-top: -20px;
}

.homestay .homestay-bottom li {
  position: relative;
  float: left;
  height: 336px;
  width: 370px;
  margin-left: 20px;
  background-color: #ffffff;
}

.homestay .homestay-bottom .homestay-bottom-img {
  height: 208px;
  width: 370px;
  overflow: hidden;
  border-radius: 3px;
}

.homestay .homestay-bottom .homestay-bottom-img img {
  height: 100%;
  width: 100%;
}

.homestay .homestay-bottom h3 {
  font-size: 16px;
  font-weight: normal;
  color: #222222;
  margin-top: 22px;
  margin-bottom: 10px;
  width: 288px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.homestay .homestay-bottom h4 {
  font-size: 12px;
  color: #999999;
  font-weight: normal;
  margin-bottom: 10px;
}

.homestay .homestay-bottom h5 {
  font-size: 18px;
  color: #ff6600;
}

.homestay .homestay-bottom h5 span {
  font-size: 14px;
  font-weight: normal;
}

.homestay .homestay-bottom .homestay-bottom-tou {
  position: absolute;
  top: 183px;
  left: 305px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  overflow: hidden;
}

.homestay .homestay-bottom .homestay-bottom-tou img {
  height: 100%;
  width: 100%;
}

.homestay-bottom .minsu-ul {
  cursor: pointer;
}

/* 5 猜你喜欢 like */
.like {
  height: 844px;
}

.like .like-title {
  height: 44px;
  width: 100%;
  background-color: #4ab9d3;
  border-radius: 8px 8px 0px 0px;
}

.like .like-title .like-title-left {
  float: left;
}

.like .like-title .like-title-left h3 {
  float: left;
  font-size: 18px;
  /* font-weight: 600; */
  font-weight: normal;
  margin-left: 18px;
  line-height: 44px;
}

.like .like-title .like-title-left h3 a {
  color: #fef3ff;
}

.like .like-title .like-title-left h4 {
  position: relative;
  float: left;
  font-size: 14px;
  /* font-weight: 600; */
  font-weight: normal;
  margin-left: 18px;
  line-height: 44px;
}

.like .like-title .like-title-left h4 a {
  color: #fef3ff;
}

.like .like-title .like-title-left h4 i {
  position: absolute;
  top: 26px;
  left: 48px;
  display: inline-block;
  height: 0px;
  width: 2px;
  border-bottom: 9px solid #ffffff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid transparent;
}

.like .like-bottom-ul-li {
  float: left;
  height: 246px;
  width: 238px;
  background-color: #ffffff;
  padding-left: 12px;
  padding-top: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.like .like-bottom-ul-li h2 {
  width: 210px;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 8px;
}

.like .like-bottom-ul-li:hover {
  background-color: #f4f4f4;
}

.like .like-bottom-img {
  height: 120px;
  width: 214px;
  border-radius: 5px;
  overflow: hidden;
}

.like .like-bottom-img img {
  height: 100%;
  width: 100%;
}

.like p {
  font-size: 12px;
  color: #999;
  margin-top: 6px;
  margin-bottom: 6px;
}

.like h3 {
  font-size: 14px;
  color: #ff6600;
}

.like h3 span {
  font-size: 23px;
  color: #ff6600;
  margin-left: 2px;
  margin-right: 2px;
  font-weight: normal;
}

.like .like-bottom-ping {
  height: 15px;
}

.like .like-bottom-ping li {
  float: left;
  margin-right: 2px;
}

.like .like-bottom-ping span {
  display: inline-block;
  margin-top: 2px;
  margin-left: 3px;
  color: #a599b2;
}

/* 6 导航 nav */
.nav {
  height: 312px;
}

.nav .nav-box {
  height: 270px;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.nav .nav-title {
  height: 54px;
  line-height: 56px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
}

.nav .nav-title span {
  color: #222222;
  font-size: 16px;
}

.nav .nav-body {
  height: 216px;
  width: 100%;
  background-color: #ffffff;
}

.nav .nav-body-li {
  height: 72px;
  width: 100%;
}

.nav .nav-body-li-left {
  float: left;
  width: 100px;
  height: 100%;
  text-align: center;
  padding-top: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav .nav-body-li-left span {
  color: #222222;
  font-size: 14px;
}

.nav .nav-body-li-right {
  float: right;
  width: 1090px;
  height: 100%;
}

.nav .nav-body-li-right li {
  position: relative;
  height: 16px;
  margin-top: 12px;
  width: 102px;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav .nav-body-li-right li i {
  position: absolute;
  /* display: inline-block; */
  left: 27px;
  top: 0;
  font-size: 12px;
  color: #fff;
  background: #FF4848;
  font-weight: 400;
  border-radius: 10px;
  padding: 0 6px;
  margin: 0 5px;
  top: -1px;
}

.nav .nav-body-li-right li span {
  display: inline-block;
  color: #666666;
  width: 74px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav .nav-body-li-right li span:hover {
  color: #fe8c00;
}

.nav .nav-body-li-right-border {
  border-bottom: 1px solid #e5e5e5;
}

/* 7 用户帮助 help  */
.help {
  height: 540px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.help .help-box {
  padding-top: 40px;
  padding-left: 40px;
  width: 100%;
  height: 495px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.help .help-div {
  float: left;
  height: 460px;
  width: 218px;
}

.help .help-div dl:nth-child(2),
.help .help-div dl:nth-child(3),
.help .help-div dl:nth-child(4),
.help .help-div dl:nth-child(5) {
  margin-top: 20px;
}

.help .help-div dt {
  height: 28px;
  width: 100%;
  font-size: 14px;
  color: #333333;
  line-height: 28px;
}

.help .help-div dd {
  height: 24px;
  width: 100%;
  line-height: 24px;
}

.help .help-div dd a {
  color: #666666;
}

.help .help-div dd a:hover {
  color: #fe8c00;
}

.help .help-div p {
  margin-top: 32px;
}

.help .help-div p a {
  color: #666666;
  font-size: 14px;
}

/* 8 底部 foot */
.foot {
  height: 122px;
  padding-left: 15px;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.foot .foot-left {
  float: left;
  width: 580px;
  height: 100%;
}

.foot .foot-left p {
  margin-bottom: 5px;
}

.foot .foot-left p span {
  color: #bcbcbc;
}

.foot .foot-left a {
  color: #bcbcbc;
}

.foot .foot-right {
  float: right;
  width: 530px;
  height: 100%;
}

.foot .foot-right .foot-right-top {
  width: 100%;
  height: 25px;
  line-height: 25px;
}

.foot .foot-right p {
  font-size: 12px;
  float: right;
  display: block;
}

.foot .foot-right p a {
  color: #999999;
}

.foot .foot-right .foot-right-xiao {
  float: right;
  height: 38px;
  width: 110px;
  background-image: url(../images/index/footer.png);
  background-position: 0px -39px;
  background-repeat: no-repeat;
}

.foot .foot-right .foot-right-ke {
  float: right;
  height: 38px;
  width: 106px;
  background-image: url(../images/index/footer.png);
  background-position: 0px -126px;
  background-repeat: no-repeat;
}

.foot .foot-right .foot-right-jing {
  float: right;
  height: 38px;
  width: 106px;
  background-image: url(../images/index/footer.png);
  background-position: 0px -166px;
  background-repeat: no-repeat;
}

.foot .foot-right .foot-right-bei {
  float: right;
  height: 38px;
  width: 170px;
}

.foot .foot-right .foot-right-bei img {
  height: 38px;
  width: 38px;
}

.foot .foot-right .foot-right-bei p {
  line-height: 38px;
  margin-right: 5px;
  color: #999999;
}

.foot .foot-right .foot-right-bei:hover p {
  color: #fe8c00;
}

.foot a:hover {
  color: #fe8c00;
}
/*# sourceMappingURL=sass.css.map */