@charset "UTF-8";
/* 1 头部 head */
body {
  background-color: #f8f8f8;
}

.head {
  height: 200px;
  width: 100%;
  background-color: #fff;
}

/* 1 头部 上 */
.head-top {
  height: 40px;
  background-color: #f8f8f8;
}

/* 1 头部 上 左 */
.head-top-left {
  line-height: 40px;
}

.head-top-left > span {
  float: left;
  color: #666666;
}

.head-top-left > div {
  float: left;
}

.head-top-left-switch {
  margin-left: 5px;
  margin-right: 5px;
}

.head-top-left-switch a {
  border: 1px solid #e5e5e5;
  color: #666666;
  padding: 1px;
}

.head-top-left-city a {
  color: #999999;
  padding: 1px;
}

.head-top-left-login a:first-child {
  margin-left: 20px;
  color: #fe8c00;
}

.head-top-left-login a:last-child {
  margin-left: 5px;
  color: #999999;
}

/* 1 头部 上 右*/
.head-top-right {
  float: right;
  line-height: 36px;
}

.head-top-right-ul > li {
  float: left;
  color: #999999;
  text-align: center;
}

/* 1 头部 上 右 我的美团 */
.head-top-right-ul > li {
  width: 80px;
}

.head-top-right-ul > li a {
  color: #999999;
}

.head-top-right-ul-li {
  position: relative;
}

.head-top-right-ul-wo:hover .head-top-right-wo {
  display: block;
}

.head-top-right-ul-wo:hover {
  background-color: #ffffff;
}

.head-top-right-wo {
  display: none;
  position: absolute;
  left: 0;
  z-index: 2;
}

.head-top-right-wo > li {
  width: 80px;
  background-color: #ffffff;
  text-align: center;
}

/* 1 头部 上 右 商家中心 */
.head-top-right-ul-li:hover .head-top-right-wo {
  display: block;
}

.head-top-right-shang {
  display: none;
  position: absolute;
  left: -29px;
  width: 110px;
  background-color: #ffffff;
}

.head-top-right-ul-shang:hover .head-top-right-shang {
  display: block;
}

.head-top-right-ul-shang:hover {
  background-color: #ffffff;
}

/* 1 头部 上 右 美团规则 */
.head-top-right-ul-mei {
  position: relative;
}

.head-top-right-mei {
  display: none;
  position: absolute;
  width: 80px;
  background-color: #ffffff;
}

.head-top-right-ul-mei:hover .head-top-right-mei {
  display: block;
}

.head-top-right-ul-mei:hover {
  background-color: #ffffff;
}

/* 1 头部 中*/
.head-center {
  height: 110px;
  background-color: #fff;
  /* 1 头部 中 标 */
  /* 1 头部 中 input */
}

.head-center .head-center-img {
  float: left;
  line-height: 98px;
}

.head-center .head-center-img img {
  width: 128px;
  height: 46px;
}

.head-center .head-center-input {
  position: relative;
  float: left;
  margin-top: 26px;
  margin-left: 174px;
  width: 472px;
  height: 34px;
  border: 1px solid #e5e5e5;
  border-radius: 5px 0px 0px 5px;
}

.head-center .head-center-input input {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  width: 100%;
}

.head-center .head-center-input > span {
  float: right;
  width: 76px;
  margin-top: -25px;
  margin-right: -76px;
  height: 36px;
  background-color: #ffc300;
  border-radius: 0px 5px 5px 0px;
}

.head-center .head-center-input .head-center-hot {
  display: none;
  position: absolute;
  top: 34px;
  left: 0;
  height: 74px;
  width: 470px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.head-center .head-center-input .head-center-hot span {
  display: inline-block;
  color: #9a9a9a;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 10px;
}

.head-bottom {
  height: 50px;
}

.head-bottom .head-bottom-all {
  float: left;
  width: 228px;
  height: 100%;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  background-color: #ffffff;
 height: 49px;
}

.head-bottom .head-bottom-all span {
  display: inline-block;
  line-height: 50px;
  color: #222222;
  font-weight: 600;
  margin-left: 15px;
  font-size: 16px;
}

.head-bottom .head-bottom-right {
  float: left;
}

.head-bottom .head-bottom-right li {
  float: left;
  margin-left: 50px;
  line-height: 50px;
  height:50px;
}

.head-bottom .head-bottom-right li a {
  color: #222222;
  font-weight: 600;
  font-size: 16px;
}

/* 2 轮播部分 carousel */
.carousel {
  height: 468px;
  .carousel-left {
    float: left;
    position: relative;
    width: 230px;
    height: 426px;
    background-color: #ffffff;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding-top: 12px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .carousel-left li {
    position: relative;
    height: 26px;
  }
  
  .carousel-left li i {
    float: left;
    height: 16px;
    width: 16px;
    // background-color: red;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 5px;
  }
  
  .carousel-left li span {
    display: inline-block;
    margin-top: 5px;
  }
  
  .carousel-left li .carousel-left-li-a {
    float: left;
    font-size: 14px;
    color: #646464;
  }
  
  .carousel-left li .xia {
    position: absolute;
    top: 12px;
    right: 14px;
    height: 6px;
    width: 1px;
    background-color: #c7c7c7;
    -webkit-transform: rotate(1deg);
    transform: rotate(45deg);
  }
  
  .carousel-left li .shang {
    position: absolute;
    top: 8px;
    right: 14px;
    height: 6px;
    width: 1px;
    background-color: #c7c7c7;
    -webkit-transform: rotate(1deg);
    transform: rotate(135deg);
  }
  
  .carousel-left > li:hover {
    background-color: #fff7eb;
  }
  
  .carousel-left > li:hover .carousel-left-li-a {
    font-weight: 600;
    color: #222222;
  }
  /* 2 轮播部分 carousel li里面的盒子 */
  .carousel-left-AllBox {
    position: absolute;
    z-index: 6;
    top: 202px;
    left: 587px;
    height: 414px;
    width: 400px;
    background-color: #ffffff;
    padding-left: 32px;
    padding-right: 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  /* .carousel-left-box {
    position: absolute;
    top: 202px;
    left: 587px;
    height: 414px;
    width: 400px;
    background-color: #ffffff;
    padding-left: 32px;
    padding-right: 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  } */
  
  .carousel-left-box-title {
    height: 55px;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .carousel-left-box-title-left {
    float: left;
    /* line-height: 54px; */
    margin-top: 25px;
  }
  
  .carousel-left-box-title-left a {
    font-size: 16px;
    color: #222222;
  }
  
  .carousel-left-box-title-more {
    float: right;
    line-height: 55px;
  }
  
  .carousel-left-box-title-more a {
    color: #999999;
    font-size: 14px;
  }
  
  .carousel-left-box-body span {
    display: inline-block;
    margin-top: 10px;
    margin-right: 12px;
  }
  
  .carousel-left-box-body span a {
    color: #999999;
  }
  
  .carousel-left-box-body span a:hover {
    color: #fe8c00;
  }
  
  .carousel-left-AllBox{
    display: none;
  }
}



/* 轮播部分 carousel 右边 */
.carousel-right{
  float: left;
  height: 416px;
  width: 950px;
  background-color: bisque;
}

/* 轮播部分 carousel 右边 上 */
.carousel-right-top{
  height: 242px;
  width: 952px;
  background-color: gold;
  margin-left: 10px;
  margin-top: 10px;

  /* 住酒店  */
  .carousel-right-top-hotel{
    float: left;
    position: relative;
    width: 551px;
    height: 242px;
    background-color: aqua;
    
    .carousel-right-top-hotel-ul{

      li{
       position: absolute;
      }
    }
    img{
       width: 551px;
       height: 242px;
     }
    .hide{
       display: none;
     }
     .show{
       display: block;
     }
      .carousel-right-top-hotel-left{
        position: absolute;
        top: 104px;
        left: 8px;
        height: 38px;
        width: 38px;
        background-color: #354a49;
        border-radius: 50%;
      }   
      .carousel-right-top-hotel-right{
        position: absolute;
        top: 104px;
        right: 8px;
        height: 38px;
        width: 38px;
        background-color: #48485c;
        border-radius: 50%;
      }
      .carousel-right-top-hotel-circle{

        position: absolute;
        bottom: 10px;
        left: 230px;
        li{
          float: left;
          width: 11px;
          height: 2px;
          margin-right: 10px;
          background-color: rgba($color: #fff, $alpha: 0.5)
        }
      }
  }
  //休闲生活 
  .carousel-right-top-life{
    float: left;
    width: 150px;
    height: 241px;
    margin-left: 10px;
    img{
      width: 150px;
      height: 241px;
    }
  }
}
// 登录
.carousel-right-top-login{
  margin-left: 10px;

  float: left;
  width: 231px;
  height: 241px;
  background-color: #ffffff;
  // text-align: center;

  .carousel-right-top-login-img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    // background-color: red;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 88px;
    img{
      height: 55px;
      width: 55px;
    }

  }
  h3{
   font-size: 16px;
   font-weight: normal;
   color: #222222;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 12px;

  }
  .carousel-right-top-login-div{
    text-align: center;
    height: 40px;
    width: 118px;
    border: 1px solid #e5e5e5;
    margin-bottom: 16px;
    margin-left: 54px;
    line-height: 40px;
    border-radius:30px;

   a{
    display: inline-block;
    // height: 40px;
    // width: 118px;
    height: 100%;
    width: 100%;
    font-size: 14px;
    color:#333333;

    }
  }
}

// 轮播部分 carousel 右边 下
.carousel-right-bottom{
  width: 955px;
  height: 166px;
  background-color: red;
  margin-left: 10px;
  margin-top: 10px;
  //住酒店   涨姿势
  .carousel-right-bottom-hotel,.carousel-right-bottom-zhang{
    float: left;
    width: 272px;
    height: 166px;
    margin-right: 10px;
    img{
      height: 100%;
      width: 100%;
    }
  }
  // 我是商家
  .carousel-right-bottom-wo{
    float: left;
    width: 150px;
    height: 166px;
    background-image: url(../images/index/carousel-right-bottom-wo.jpg);
    background-repeat: cover;
    background-size: 150px 166px;
    a{
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
  // 二维码
.carousel-right-bottom-er{
  float: left;
  text-align: center;
  width: 231px;
  height: 166px;
  background-color: #ffffff;
  margin-left: 10px;
  img{
    height: 75px;
    width: 75px;
    margin-top: 10px;
    margin-bottom: 10px;

  }
  h3{
    font-size: 16px;
    font-weight: normal;
    color: #282a2d;
    margin-bottom: 8px;

  }
  h4{
    font-size: 14px;
    font-weight: normal;
    color: #4b4b4b;

    span{
      color: #ed5d3c;
    }
  }
}
}




/* 3 电影 movie */
.movie {
  height: 384px;
  background-color: cadetblue;
  // 头
  .movie-title{
    height: 44px;
    width: 100%;
    background-color: #fb3f5d;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 1px;
    border-bottom: 1px solid #fff;
    // 头 左
    .movie-title-left{
      float: left;
      h3{
        float: left;
        font-size: 18px;
        /* font-weight: 600; */
        font-weight: normal;
        margin-left: 18px;
        line-height: 44px;
        a{
          color: #fef3ff;
    
        }
      }
      h4{
        position: relative;
        float: left;
        font-size: 14px;
        /* font-weight: 600; */
        font-weight: normal;
        margin-left: 18px;
        line-height: 44px;  
        a{
          color: #fef3ff;
    
        }
        i{
          position: absolute;
          top: 26px;
          left: 20px;
          display: inline-block;
          height: 0px;
          width: 2px;
          border-bottom: 9px solid #ffffff;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 9px solid transparent;
        }
      }
    }
    // 头 右
    .movie-title-right{
    float: right;
    margin-right: 22px;
    line-height: 44px;
    a{
      font-size: 16px;
      color: #ffedec;
    }
    }
  }
  //底
  .movie-bottom{
    height: 300px;
    width: 100%;
    background-color: blanchedalmond;
  overflow: hidden;
  }
  
  .movie-bottom-ul{
    height: 300px;
    width: 2430px;
    li{
      position: relative;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 3px;
      overflow: hidden;
      .movie-bottom-ul-ming{
        position: absolute;
        bottom: 12px;
        left: 10px;
        h3{
          font-size: 14px;
          color: #fff;
          margin-bottom: 4px;
          font-weight: normal;
          span{
            display: inline-block;
            margin-right: 5px;
            font-size: 19px;
            color: #ef9827;
          }
        }
        h2{
          font-size: 16px;
          color: #fff;
          font-weight: normal;
        }
      }
    }
  }
}







/* 4 民宿 homestay */
.homestay {
  height: 772px;
  // background-color: coral;
  // 头
  .homestay-title{
    height: 44px;
    width: 100%;
    background-color: #f3bf47;
    border-radius: 8px 8px 0px 0px;
    // 头 左
    .homestay-title-left{
      float: left;
      h3{
        float: left;
        font-size: 18px;
        /* font-weight: 600; */
        font-weight: normal;
        margin-left: 18px;
        line-height: 44px;
        a{
          color: #fef3ff;
    
        }
      }
      h4{
        position: relative;
        float: left;
        font-size: 14px;
        /* font-weight: 600; */
        font-weight: normal;
        margin-left: 18px;
        line-height: 44px;  
        a{
          color: #fef3ff;
    
        }
        // i{
        //   position: absolute;
        //   top: 26px;
        //   left: 5px;
        //   display: inline-block;
        //   height: 0px;
        //   width: 2px;
        //   border-bottom: 9px solid #ffffff;
        //   border-left: 6px solid transparent;
        //   border-right: 6px solid transparent;
        //   border-top: 9px solid transparent;
        // }
      }
    }
    // 头 右
    .homestay-title-right{
    float: right;
    margin-right: 22px;
    line-height: 44px;
    a{
      font-size: 16px;
      color: #ffedec;
    }
    }
  }
  // 底
  .homestay-bottom{
    position: relative;
    height: 693px;
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
border-radius: 0px 0px 5px 5px;
    // ul
    ul{
      position: absolute;
      height: 690px;
      width: 100%;
    }
    li{
      position: relative;
      float: left;
      height: 336px;
      width: 370px;
      margin-left: 20px;
      background-color: #ffffff;
    }
    .homestay-bottom-img{
      height: 208px;
      width: 370px;
      overflow: hidden;
      border-radius: 3px;
      img{
        height: 100%;
        width: 100%;
      }
    }
    h3{
      font-size: 16px;
      font-weight: normal;
      color: #222222;
      margin-top: 22px;
      margin-bottom: 10px;
      width: 288px;
      // 强制出现省略号
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    h4{
      font-size: 12px;
      color: #999999;
      font-weight: normal;
      margin-bottom: 10px;
    }
    h5{
      font-size: 18px;
      color: #ff6600;
      span{
        font-size: 14px;
        font-weight: normal;
      }
    }
    // 小头像
    .homestay-bottom-tou{
      position: absolute;
      top: 183px;
      left: 305px;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      overflow: hidden;
     img{
       height: 100%;
       width: 100%;
     }
    }
  }

}



/* 5 猜你喜欢 like */
.like {
  height: 844px;
  // background-color: darkcyan;
  .like-title{
    height: 44px;
    width: 100%;
    background-color: #4ab9d3;
    border-radius: 8px 8px 0px 0px;
    // 头 左
    .like-title-left{
      float: left;
      h3{
        float: left;
        font-size: 18px;
        /* font-weight: 600; */
        font-weight: normal;
        margin-left: 18px;
        line-height: 44px;
        a{
          color: #fef3ff;
    
        }
      }
      h4{
        position: relative;
        float: left;
        font-size: 14px;
        /* font-weight: 600; */
        font-weight: normal;
        margin-left: 18px;
        line-height: 44px;  
        a{
          color: #fef3ff;
    
        }
        i{
          position: absolute;
          top: 26px;
          left: 48px;
          display: inline-block;
          height: 0px;
          width: 2px;
          border-bottom: 9px solid #ffffff;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 9px solid transparent;
        }
      }
    }
   
  }
  // li
  .like-bottom-ul-li{
    float: left;
    height: 246px;
    width: 238px;
    background-color: #ffffff;
    padding-left: 12px;
    padding-top: 12px;

    box-sizing: border-box;

    // margin-left: 20px;
    // text-align: center;
    h2{
      width: 210px;
      font-size: 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: normal;
      margin-top: 10px;
      margin-bottom: 8px;
    }
  }
  .like-bottom-ul-li:hover{
    background-color: #f4f4f4;
  }
  // 图片
  .like-bottom-img{
    height: 120px;
    width: 214px;
    border-radius: 5px;
    overflow: hidden;
    img{
      height: 100%;
      width: 100%;
    }
  }
  p{
    font-size: 12px;
    color: #999;
    margin-top: 6px;
    margin-bottom: 6px;

  }
  h3{
    font-size: 14px;
    color: #ff6600;
    span{
      font-size: 23px;
      color: #ff6600;
      margin-left: 2px;
      margin-right: 2px;
      font-weight: normal;

    }
  }
  // 评价星星
  .like-bottom-ping{
    height: 15px;
    li{
      float: left;
      margin-right: 2px;
    }
    span{
      display: inline-block;
      margin-top: 2px;
      margin-left: 3px;
      color: #a599b2;
    }
  }
}

/* 6 导航 nav */
.nav {
  height: 312px;
  // background-color: aquamarine;
  .nav-box{
    height: 270px;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
  }
  // 头
  .nav-title{
    height: 54px;
    line-height: 56px;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    span{
      color: #222222;
      font-size: 16px;
    }
  }
  //  身体
  .nav-body{
    height: 216px;
    width: 100%;
    background-color: #ffffff;
    // background-color: springgreen;
  }
  .nav-body-li{
    height: 72px;
    width: 100%;
    
    // background-color: slategrey;
  }
  
  // 左
  .nav-body-li-left{
    float: left;
    width: 100px;
    height: 100%;
    text-align: center;
    padding-top: 12px;
    box-sizing: border-box;
    span{
      color: #222222;
      font-size: 14px;
    }
  }
  // 右
  .nav-body-li-right{
    float: right;
    width: 1090px;
    height: 100%;
    // background-color: tan;
    li{
      height: 16px;
      margin-top: 12px;
      width: 102px;
      // background-color: rosybrown;
      float: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      span{
        color: #666666;
      }
      span:hover{
        color: #fe8c00;
      }
    }
  }
  .nav-body-li-right-border{
    border-bottom: 1px solid #e5e5e5;
  }
}

/* 7 用户帮助 help  */
.help {
  height: 540px;
  // background-color: burlywood;

  box-sizing: border-box;
  .help-box{
    padding-top: 40px;
    padding-left: 40px;
    width: 100%;
    height: 495px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;

  }
  .help-div{
    float: left;
    height: 460px;
    width: 218px;
    // background-color: rosybrown;
    // border-right: 1px solid black;
    dl:nth-child(2),
    dl:nth-child(3),
    dl:nth-child(4),
    dl:nth-child(5){
     margin-top: 20px;
    }
    dt{
      height: 28px;
      width: 100%;
      font-size: 14px;
      color: #333333;
      // background-color: darkgoldenrod;
      line-height: 28px;
    }
    dd{
      height: 24px;
      width: 100px;
      line-height: 24px;
      // background-color: steelblue;
      a{
        color: #666666;
      }
      a:hover{
        color: #fe8c00;
      }
    }
    p{
      margin-top: 32px;
      a{
        color: #666666;
        font-size: 14px;
      }
    }
  }
  // 用户帮助
  // .help-user dl:first-child{
  //   height: 217px;
  //   width: 100%;
  //   background-color: rebeccapurple;
  // }
}

/* 8 底部 foot */
.foot {
  height: 122px;
  // background-color: brown;
  padding-left: 15px;
  padding-top: 15px;
  box-sizing: border-box;
  // 左
  .foot-left{
    float: left;
    width: 580px;
    height: 100%;
    // background-color: tan;
    p{
      margin-bottom: 5px;
      span{
        color: #bcbcbc;
      }
    }
    a{
      color: #bcbcbc;
    }
  }
  // 右
  .foot-right{
    float: right;
    width: 530px;
    height: 100%;
    // background-color: tan;
    .foot-right-top{
      width: 100%;
      height: 25px;
      line-height: 25px;
    }
    p{
      font-size: 12px;
      float: right;
      display: block;
      a{
      color: #999999;
      }
    }
    .foot-right-xiao{
      float: right;
      height: 38px;
      width: 110px;
      background-image: url(../images/index/footer.png);
      background-position: 0px -39px;
      background-repeat: no-repeat;
    }
    .foot-right-ke{
      float: right;
      height: 38px;
      width: 106px;
      background-image: url(../images/index/footer.png);
      background-position: 0px -126px;
      background-repeat: no-repeat;
    }
    .foot-right-jing{
      float: right;
      height: 38px;
      width: 106px;
      background-image: url(../images/index/footer.png);
      background-position: 0px -166px;
      background-repeat: no-repeat;
    }
     .foot-right-bei{
       float: right;
      height: 38px;
      width: 170px;
      img{
        height: 38px;
        width: 38px;
      }
      p{
        line-height: 38px;
        margin-right: 5px;
        color: #999999;
      }
     }
     .foot-right-bei:hover{
      p{
        color: #fe8c00;
      
      }
     }
  }
  a:hover{
    color: #fe8c00;
  }
}
/*# sourceMappingURL=sass.css.map */